<!DOCTYPE html>
<html>
<head>
	<title>mscanalysis</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
	<section class="section">
		<div class="content">
			<h2 class="title is-2">mscanalysis</h2>
			<%= yield %>
		</div>
	</section>
</body>
</html>

